.navbar-outer-container{
    background-color: gray;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
}

.navbar{
    flex-direction: column;
}

.navbar-item{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: black;
    }
    &.active{
        background-color: rgb(44, 44, 44);
    }
}

@media (max-width: 768px) {
    .navbar-item{
        width: 70px;
        height: 70px;
        aspect-ratio: 1 / 1;
    }
    .navbar{
        flex-direction: row;
    }
}

